
/*=====report card=====*/
table.reportcard thead tr th{
        text-align: center;
}
table.reportcard thead tr:first-child th{
        font-size: 10px;
        line-height: 10px;
        padding:4px;                            
}
table.reportcard tbody tr td{
        text-align: center;
}
table.reportcard tbody tr td:first-child{
        text-align: left;
}

table.reportcard tbody tr.subsubject td:first-child{
        padding-left: 50px;
        font-weight: normal;
        text-align: left;
}

